* {

    font-style: italic;

    margin: 0;
    border: 0;
}

h1,
h2 {
    font-weight: bold;
}

.btn {
    height: 40px;
    width: 100%;
    color: antiquewhite;

}

.btn:hover {
    opacity: 0.7;
}

#banner-img{
    width: 100%;
    height: 700px;
}
.#nav>div {
    background-color: white !important;
    color: black !important;
}

#nav {
    width: 100%;
    background-color: white !important;
    height: 100px;
    border: dashed grey
}

#logo {
    width: 8%;
    border-radius: 50%;
}

#verCarrito {
    height: 100%;
    cursor: pointer;
}


#orden>div.ordenBody.d-flex.justify-content-center>p {
    margin-left: 5%;
}

.btn-primary {
    color: black !important;
    background-color: white !important;
}